.header {
  overflow: hidden;
  background-color: #5b7c8e;
  border-radius: 25px;
  border: 2px solid black;
  padding: 20px;
  width: absolute;
  height: 150px;
  font-family: monospace;
  font-size: 40px;
  text-align: left;
  margin-left: 3px;
  margin-right: 3px;
}
.parent {
  width: inherit;
  display: grid| inline-grid;
}
.board-container {
  margin-top: 3px;
  margin-left: 30px;
  float: left;
  background: white;
  border-radius: 25px;
  border: 2px solid black;
  padding: 20px;
  width: 200px;
  height: 400px;
  display: grid| inline;



}
.form {
  /* display: grid| inline; */
  bottom: 200px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 800px;
  margin-right: 60px;
  width: '250px';
  height: '300px';
  background: white;
  border-radius: 25px;
  border: 2px solid black;
  padding: 10px;
}
.box {
      margin-top: 20px;
      margin-left: 240px;
      /* overflow: hidden; */
      background: white;
      border-radius: 25px;
      border: 2px solid black;
      padding: 20px;
      width: 850px;
      height: 500px;
      font-family: monospace;
      text-align: left;
      display: grid| inline;




}

.photos {
  display: inline-block;

}
body {
  background-color: #c7d4db;
  margin: 0;
  padding: 0;
  font-family: monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;


}
.photo-container {
  margin-left: 5px;
  margin-right: 5px;
justify-content: space-evenly;
border-radius: 25px;
border: 2px solid black;
padding: 20px;
width: absolute;
height: 300px;
background: white;

bottom: 100;
}


.board-list {

  justify-content: space-evenly;
  background-color: white;

  font-family: monospace;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
